@(patient: Patient, obsForm: Form[BaseObsList])
@import helper._
@implicitField = @{ FieldConstructor(formHorizontalConstructor.f) }

@main("Patient: " + patient.name) {
    <h1>Patient: @patient.name</h1>

    @helper.form(routes.PatientApp.submit(patient.id), 'class -> "well form-horizontal") {
        <ul>
        @patient.observations.foreach {ob =>
            <li><ul>@ob.items.map { item =>
                <li>@item</li>
            }</ul>
            </li>
        }
        </ul>

        <div class="controls">
            <input type="submit" value="Create New">
        </div>
    }
}