@(patient: Patient, obsForm: Form[BaseObsList])
@import helper._

@main("Patient: " + patient.name) {
    <h1>Patient: @patient.name</h1>

    @helper.form(routes.PatientApp.submit(patient.id), 'class -> "well form-horizontal") {
        <ol>
        @patient.observations.zipWithIndex.map {case(ob, index) =>
            <li><div>
                @inputText(obsForm("entry[%s]".format(index) ),
                        '_label -> "Entry",
                        '_help -> "Observation.")
                <ol>@ob.items.map { item =>
                <li>@item.entry</li>
            }</ol>
            </div>
            </li>
        }
        </ol>

    @inputText(obsForm("entry[%s]".format(patient.observations.length + 1) ),
            '_label -> "Entry",
            '_help -> "Observation.")


        <div class="controls">
            <input type="submit" value="Create New">
        </div>
    }
}