@(patient: Patient, obsForm: Form[BaseObsList])
@import helper._
@implicitField = @{ FieldConstructor(formHorizontalConstructor.f) }

@main("Patient: " + patient.name) {
    <h1>Patient: @patient.name</h1>

    @helper.form(routes.PatientApp.submit(patient.id), 'class -> "well form-horizontal") {

        @repeat(obsForm("obs"), min = 10) { obs =>

            @inputText(obs,
                '_label -> "Observation",
                '_help -> "Enter observations here",
                '_error -> obsForm.error("name"))

        }

        <div class="controls">
            <input type="submit" value="Create New">
        </div>
    }
}